# Carseval.py

# Imports

In [13]:
import pandas as pd
import numpy as np
from ucimlrepo import fetch_ucirepo, list_available_datasets

# Check Which Dataset can be imported
list_available_datasets()

-------------------------------------
The following datasets are available:
-------------------------------------
Dataset Name                                                                            ID
------------                                                                            --
Abalone                                                                                 1
Adult                                                                                   2
Auto MPG                                                                                9
Automobile                                                                              10
Breast Cancer                                                                           14
Breast Cancer Wisconsin (Original)                                                      15
Breast Cancer Wisconsin (Diagnostic)                                                    17
Car Evaluation                                                                          19
Credit Approval                                                                         27
Glass Identification                                                                    42
Heart Disease                                                                           45
Ionosphere                                                                              52
Iris                                                                                    53
Letter Recognition                                                                      59
Liver Disorders                                                                         60
Lung Cancer                                                                             62
Mushroom                                                                                73
Optical Recognition of Handwritten Digits                                               80
Spambase                                                                                94
Wine                                                                                    109
Zoo                                                                                     111
Statlog (German Credit Data)                                                            144
Wine Quality                                                                            186
Parkinsons Telemonitoring                                                               189
Bank Marketing                                                                          222
ILPD (Indian Liver Patient Dataset)                                                     225
Thoracic Surgery Data                                                                   277
Diabetes 130-US hospitals for years 1999-2008                                           296
Diabetic Retinopathy Debrecen                                                           329
Heart failure clinical records                                                          519
Rice (Cammeo and Osmancik)                                                              545
Bone marrow transplant: children                                                        565
HCV data                                                                                571
Myocardial infarction complications                                                     579
Dry Bean Dataset                                                                        602
Predict students' dropout and academic success                                          697
Glioma Grading Clinical and Mutation Features                                           759
Sepsis Survival Minimal Clinical Records                                                827
Cirrhosis Patient Survival Prediction                                                   878
SUPPORT2                                                                                880
National Health and Nutrition Health Survey 2013-2014 (NHANES) Age Prediction Subset    887
AIDS Clinical Trials Group Study 175                                                    890
CDC Diabetes Health Indicators                                                          891

# Fetch Datasets

In [12]:
# fetch dataset 
car_evaluation = fetch_ucirepo(id=19) 


  
# data (as pandas dataframes) 
X = car_evaluation.data.features 
y = car_evaluation.data.targets

In [11]:
# metadata 
#print(car_evaluation.metadata) 
  
# variable information 
print(car_evaluation.variables)

       name     role         type demographic  \
0    buying  Feature  Categorical        None
1     maint  Feature  Categorical        None
2     doors  Feature  Categorical        None
3   persons  Feature  Categorical        None
4  lug_boot  Feature  Categorical        None
5    safety  Feature  Categorical        None
6     class   Target  Categorical        None

                                         description units missing_values
0                                       buying price  None             no
1                           price of the maintenance  None             no
2                                    number of doors  None             no
3              capacity in terms of persons to carry  None             no
4                           the size of luggage boot  None             no
5                        estimated safety of the car  None             no
6  evaulation level (unacceptable, acceptable, go...  None             no

# Clean Dataset

## Clean Missing Value from X

In [8]:
# removes missing values from X
X_cleaned = X.dropna()
X_cleaned

     buying  maint  doors persons lug_boot safety
0     vhigh  vhigh      2       2    small    low
1     vhigh  vhigh      2       2    small    med
2     vhigh  vhigh      2       2    small   high
3     vhigh  vhigh      2       2      med    low
4     vhigh  vhigh      2       2      med    med
...     ...    ...    ...     ...      ...    ...
1723    low    low  5more    more      med    med
1724    low    low  5more    more      med   high
1725    low    low  5more    more      big    low
1726    low    low  5more    more      big    med
1727    low    low  5more    more      big   high

[1728 rows x 6 columns]

## Drop Duplicate Rows

In [9]:
# drops duplicate rows
X_cleaned = X_cleaned.drop_duplicates(ignore_index=False)
X_cleaned

     buying  maint  doors persons lug_boot safety
0     vhigh  vhigh      2       2    small    low
1     vhigh  vhigh      2       2    small    med
2     vhigh  vhigh      2       2    small   high
3     vhigh  vhigh      2       2      med    low
4     vhigh  vhigh      2       2      med    med
...     ...    ...    ...     ...      ...    ...
1723    low    low  5more    more      med    med
1724    low    low  5more    more      med   high
1725    low    low  5more    more      big    low
1726    low    low  5more    more      big    med
1727    low    low  5more    more      big   high

[1728 rows x 6 columns]